<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lfyun.xy_ct.mapper.ProductShareUserMapper">
<update id="addEarning">
UPDATE t_product_share_user SET earning = earning + #{earning} WHERE id = #{id}
</update>
<select id="getByUserId" resultType="com.lfyun.xy_ct.dto.MyInviteDTO">
SELECT COUNT(0) AS count, SUM(earning) AS earning FROM t_product_share_user WHERE productId = #{productId} AND parentUserId = ${userId}
</select>
</mapper>