<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lfyun.xy_ct.mapper.UserMapper">
<update id="addUserEarning">
UPDATE t_user SET earning = earning + #{earning}, totalEarning = totalEarning + #{earning} WHERE id = #{userId}
</update>
<update id="addUserBalance">
UPDATE t_user SET balance = balance + #{balance}, totalBalance = totalBalance + #{balance} WHERE id = #{userId}
</update>
<update id="refund">
UPDATE t_user SET balance = balance + #{amount} WHERE id = #{userId}
</update>
<update id="consume">
UPDATE t_user SET balance = balance - #{amount} WHERE id = #{userId} and balance >= #{amount}
</update>
</mapper>